$border: whitesmoke
$card: white
$font-family: 'Droid Sans Mono', monospace
$font-size: 5em
$font-width: lighter
$font-color: lighten(#0E790E, 12%)
$easeInOut: cubic-bezier(0.455, 0.03, 0.515, 0.955)
$turnDuration: 0.6s
$borderRadius: 2px